.gallery-section {
  height: fit-content;
  background-color: #ffe92f;
  padding: 5% 0;

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      color: #262626;
    }

    &__text {
      width: 50%;
      text-align: center;
      margin: 3% 0 5% 0;
    }

    &__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .items__row1 {
      display: flex;
      gap: 30px;
      width: 100%;

      &-peach {
        width: 60%;
        background: url("../images/peach.png") no-repeat center;
        background-size: cover;
        height: 55rem;
      }
      .berries {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 30px;

        &__bilberry {
          width: 100%;
          background: url("../images/bilberry.png") no-repeat center;
          background-size: cover;
          height: 260px;
        }
        &__blackberry {
          width: 100%;
          background: url("../images/blackberry.png") no-repeat center;
          background-size: cover;
          height: 260px;
        }
      }
    }
    .items__row2 {
      display: flex;
      gap: 30px;
      width: 100%;

      &-glass {
        width: 50%;
        background: url("../images/glass.png") no-repeat center;
        background: cover;
        height: 400px;
      }

      &-persimmon {
        flex-basis: 50%;
        background: url("../images/percimmon.png") no-repeat center;
        background: cover;
        height: 400px;
      }
    }
  }
}
