@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "services.scss";
@import "gallery.scss";

* {
  transition: all 0.1s ease-in;
}
.container {
 
  margin: 0 auto;
  max-width: 1175px;
}
.text {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}
.name {
  color: #ffffff;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  }
button {
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
  outline: none;
  border: none;
}
